@model IEnumerable<MvcApp.Models.CustomerSite>

@{
    ViewBag.Title = "Index";
    ViewBag.Header = "Customer";
}
<div>
 <p class="text-center">Welcome to the home page of customer!</p>
<p class="text-center">This page will be Implemented as the project gets more advanced!! </p>
    <p class="text-center">Thanks For visiting this site!!! </p>
</div>


