@{
    ViewBag.Title = "Welcome";
    ViewBag.Header = "Home";
    
}
<div class="hero-unit">
   
                <div>
                   
                    <center>
                        <img src="~/Content/themes/base/images/lahjapajalogo2.png" />
                    
                    <br>
                    <br>
                    <center>
                        <p>
                            <a class="btn btn-large btn-success" href="@Url.Action("LogIn","Session")">Let's get started </a>
                        </p>
                    </center>
                </div>
            </div>

