<div class="container2" style="width: 250px;float:left;">
<div class="span3">
          <div class="well sidebar-nav">
            <ul class="nav nav-list">
              <li class="nav-header"></li>
                
               <li> <a @Html.ActionLink("Customer","Index","Customer")</a><br /></li>
                 <li> <a @Html.ActionLink("My DashBoard","Index","Employee")</a><br /></li>
                
               
               
              
               
                
               
            </ul>
          </div><!--/.well -->
        </div>
     </div>




